@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Righteous');

.App {
	text-align: center;
	/*background-color: #F2F8DC*/
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: #1A1010;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
	font-size: 1.5em;
	font-family: 'Righteous', cursive;
	color: #FFFFFF;
	letter-spacing: 0.5em;
}

.Bold {
	font-weight: bold;
}

.Search-bar {
  display: block;
	margin: 0 auto;
	margin-top: 60px;
	width: 50%;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em; 
}

.Search-results {
  margin: 0 auto;
  margin-top: 25px;
  width: 60%;
  /*background-color: beige;*/
}

.Result {
  display: block;
	margin: 0 auto;
	margin-top: 0px;
	width: 100%;
	background-color: white;
	margin-bottom: 5px;
	border-style: solid;
	border-color: #110808;
	border-width: 1px;
}

.Result-title {
  background-color: #110808;
	color: white;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	padding: 15px;
  text-align: left;
}

.Result-title:hover{
	cursor: pointer;
}

.Result-desc {
  overflow: auto;
}

.descContents{
	float: left;
	clear: right;
	color: #1c0000;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	margin: 10px;
	padding-top: 10px;
}

.descImg {
	float: right;
	width: 35px;
	height: 60px;
	/*margin-top: 10px;*/
}

.descImgExpanded {
	float: right;
	width: 180px;
	height: 250px;
	padding-top: 20px;
	padding-right: 20px;
}

.ExtendedResult{
	overflow: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	padding: 15px;
	text-align: left;
}

span{
	color: #352b2b;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
